<!doctype html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="../../libs/slick/slick.css">
    <link rel="stylesheet" href="../../libs/slick/slick-theme.css">
    <!--    <link rel="stylesheet" type="text/css" href="//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.css"/>-->
    <link rel="stylesheet" href="../../libs/WOW/animate.css">
    <link rel="stylesheet" href="../../css/css/style.css">
    <title>Салон Красоты ИМПЕРИЯ</title>
</head>
<body>
<%- include('../partials/header.ejs'); %>

<!--HELLO BLOCK-->
<section class="hello_block">
    <div class="wow fadeIn bg" data-wow-duration="2s"></div>
    <div class="container_fluid">
        <div class="hello_description">
            <h2 class="wow fadeInRight header" data-wow-duration="2s">BUILD YOUR OWN TYPE OF NAIL</h2>
            <p class="wow fadeInRight sub_header" data-wow-duration="2s">In a professional context it often happens that
                private corporate clients
                publication
                to be made and
                presented with the actual.</p>
            <button class="btn wow fadeIn" data-wow-duration="3s">Записаться</button>
        </div>
    </div>
</section>

<div class="section_break"></div>

<!--WHY US BLOCK-->
<section class="choose_block">
    <div class="wow fadeInUp section_title center" data-wow-duration="1s">
        <div class="sub_header">Why Our Clients Choose Us</div>
        <h2 class="header">
            PHLOX NAIL STUDIO IS THE MOST POPULAR CLEAN AND RECOMMENDED
        </h2>
    </div>

    <div class="choose_block-items">
        <div class="container">
            <div class="col-container">

                <div class="wow fadeInRight col reason-block" data-wow-duration="1s">
                    <img src="../../images/image_icons/diplome.svg" alt="">
                    <div class="reason-description">
                        <h2 class="header">PICK YOUR SERVICES</h2>
                        <p class="sub_header">In a professional context it often happens that private corporate</p>
                    </div>
                </div>
                <div class="wow fadeInRight col reason-block" data-wow-duration="1s" data-wow-delay="0.2s">
                    <img src="../../images/image_icons/mirror.svg" alt="">
                    <div class="reason-description">
                        <h2 class="header">SELECT AVAILABLE TIME</h2>
                        <p class="sub_header">In a professional context it often happens that private corporate</p>
                    </div>
                </div>
                <div class="wow fadeInRight col reason-block" data-wow-duration="1s" data-wow-delay="0.4s">
                    <img src="../../images/image_icons/beauty.svg" alt="">
                    <div class="reason-description">
                        <h2 class="header">PROCESS AND ENJOY IT</h2>
                        <p class="sub_header">In a professional context it often happens that private corporate</p>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="center">
        <button class="wow fadeIn btn" data-wow-duration="2s">О нас</button>
    </div>
</section>

<!--SERVICES BLOCK-->

<div class="section_break"></div>

<section class="services-block">
    <div class="wow fadeInUp section_title center" data-wow-duration="1s">
        <div class="sub_header">Our Services</div>
        <h2 class="header">
            PHLOX NAIL STUDIO IS THE MOST POPULAR CLEAN AND RECOMMENDED
        </h2>
    </div>

    <div class="container_fluid">
        <div class="col-2-container service">
            <div data-rellax-percentage="0.5" data-rellax-xs-speed="0" class="service-img rellax">
                <img src="../../images/image_services/pedicure.png" alt="">
            </div>
            <div class="service-description center">
                <h2 class="wow fadeInUp service-num-right">01</h2>
                <h2 class="wow fadeInLeft header">PEDICURE</h2>
                <p class="wow fadeInLeft sub_header left-after-delimiter">Our manicure treatments stimulate nail growth
                    and soften dry, dull skin.</p>
                <button class="btn">Записаться</button>
            </div>
        </div>

        <div class="col-2-container service">
            <div class="service-description center">
                <h2 class="wow fadeInUp service-num-left">02</h2>
                <h2 class="wow fadeInRight header">MANICURE</h2>
                <p class="wow fadeInRight sub_header right-after-delimiter">Our manicure treatments stimulate nail
                    growth and soften dry, dull skin.</p>
                <button class="btn">Записаться</button>
            </div>
            <div data-rellax-percentage="0.5" data-rellax-xs-speed="0" class="service-img rellax">
                <img src="../../images/image_services/manicure.png" alt="">
            </div>
        </div>

        <div class="col-2-container service">
            <div data-rellax-percentage="0.5" data-rellax-xs-speed="0" class="service-img rellax">
                <img src="../../images/image_services/massage.png" alt="">
            </div>
            <div class="service-description center">
                <h2 class="wow fadeInUp service-num-right">03</h2>
                <h2 class="wow fadeInLeft header">MASSAGE</h2>
                <p class="wow fadeInLeft sub_header left-after-delimiter">Our manicure treatments stimulate nail growth
                    and soften dry, dull skin.</p>
                <button class="btn">Записаться</button>
            </div>
        </div>

        <div class="col-2-container service">
            <div class="service-description center">
                <h2 class="wow fadeInUp service-num-left">04</h2>
                <h2 class="wow fadeInRight header">BROWS</h2>
                <p class="wow fadeInRight sub_header right-after-delimiter">Our manicure treatments stimulate nail
                    growth and soften dry, dull skin.</p>
                <button class="btn">Записаться</button>
            </div>
            <div data-rellax-percentage="0.5" data-rellax-xs-speed="0" class="service-img rellax">
                <img src="../../images/image_services/brows.png" alt="">
            </div>
        </div>
    </div>
</section>

<!--INVITE BLOCK-->

<section class="invite-block center">
    <div class="wow fadeInUp section_title center" data-wow-duration="1s">
        <div class="sub_header text-white">You Are Invited</div>
        <h2 class="header text-white">
            BECOME A MODEL FOR SHELLAC MANICURE
        </h2>
    </div>
    <button class="wow fadeIn btn" data-wow-duration="2s">Записаться</button>
</section>

<!--TESTIMONIAL -->

<!--<section class="testimonials-block ">-->
<!--    <div class="wow fadeInUp section_title center" data-wow-duration="1s">-->
<!--        <div class="sub_header">Testimonial</div>-->
<!--        <h2 class="header">-->
<!--            WHAT OUR CLIENTS SAY ABOUT US-->
<!--        </h2>-->
<!--    </div>-->
<!--</section>-->

<!--portfolio-->
<div class="container">
    <section class="portfolio-block">
        <div class="wow fadeInRight portfolio_description">
            <h3>Портфолио</h3>
            <h2 class="header">CHECK OUT OUR LASTEST WORK</h2>
            <button class="btn">Посмотреть все</button>
        </div>

        <div class="portfolio_slider">
            <div class="slider_case">
                <img src="../../images/slider_portfolio/1.jpg" alt="">
            </div>
            <div class="slider_case">
                <img src="../../images/slider_portfolio/2.jpg" alt="">
            </div>
            <div class="slider_case">
                <img src="../../images/slider_portfolio/3.jpg" alt="">
            </div>
        </div>
    </section>
</div>

<!--<%- include('../partials/footer.ejs') %>-->

<script src="../../libs/jQuery/jQuery.js"></script>
<script src="../../libs/slick/slick.min.js"></script>
<script src="../../libs/WOW/wow.min.js"></script>
<script src="../../libs/rellax/rellax.min.js"></script>
<!--<script type="text/javascript" src="//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.min.js"></script>-->
<script src="../../js/init.js"></script>
<script src="../../js/script.js"></script>
</body>
</html>